name: Backend (Express API) Deployment

on:
  push:
    branches:
      - main
      - refactoring
    paths:
      - "api/**"
      - ".github/workflows/upload-api-aws.yml"

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_SG_ID: ${{ secrets.BACKEND_SG_ID }}

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get Runner IP Address
        id: ip
        uses: haythem/public-ip@v1.2

      - name: Whitelist Runner IP (Allow SSH Ingress on Port 22)
        run: |
          aws ec2 authorize-security-group-ingress \
              --group-id ${{ env.AWS_SG_ID }} \
              --protocol tcp \
              --port 22 \
              --cidr ${{ steps.ip.outputs.ipv4 }}/32
        env:
          RUNNER_IP: ${{ steps.ip.outputs.ipv4 }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "api/package-lock.json"

      - name: Deploy Express API Code
        uses: easingthemes/ssh-deploy@v5.0.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_API_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_API_HOST }}
          REMOTE_USER: ${{ secrets.EC2_USER }}
          SOURCE: "api/server.js api/api-ecosystem.config.js api/package.json api/package-lock.json"
          TARGET: "/var/www/spiderwebapi"

      - name: Configure Environment and Reload API on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/spiderwebapi

            echo "Creating prod.env file with secrets..."
            cat << EOF > prod.env
            NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
            NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
            NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}

            PG_HOST=${{ secrets.PG_HOST }}
            PG_USER=${{ secrets.PG_USER }}
            PG_PASSWORD=${{ secrets.PG_PASSWORD }}
            PG_DATABASE=postgres
            PG_PORT=5432
            EOF
            echo "prod.env created successfully."

            npm ci --omit=dev

            pm2 reload api-ecosystem.config.js || pm2 start api-ecosystem.config.js

            pm2 reload ecosystem.config.js || pm2 start ecosystem.config.js

            pm2 save
